@tailwind base;
@tailwind components;
@tailwind utilities;



:root {
  /* font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif; */
  /* font-family: "Roboto Mono", "Source Code Pro", "Cooper Black"; */
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light dark;
  /* color: rgba(255, 255, 255, 0.87); */
  background-color: #FBF7F1;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  
  --pink: #ff0066;
  --accent: var(--pink);

  margin: 0;
  padding: 0;
  color: var(--accent);
}


.portfolio-list {
  display: flex;
  list-style: none;
  height: 650px;
  overflow-x: scroll;
  padding: 20px 0;
  flex: 0 0 600px;
  margin: 60px auto;

}

::-webkit-scrollbar {
  height: 10px;
  width: 5px;
  /* background: #fff3; */
  background: #ff006640;
  -webkit-border-radius: 1ex;
}

::-webkit-scrollbar-thumb {
  background: var(--accent);
  -webkit-border-radius: 1ex;
}

::-webkit-scrollbar-corner {
  /* background: #fff3; */
  background: #ff006640;
}

.portfolio-list li {
  flex: 0 0 calc(50% - 20px); /* Adjust width here */
  background: var(--accent);
  margin: 0 20px 0 0;
  cursor: pointer;
}

.portfolio-list li:last-of-type {
  margin: 0;
}

/* ggg */
/* 
.image-description {
  position: absolute;
  bottom: 20px;
  left: 20px;
  right: 20px;
  color: black;
  padding: 10px;
  font-size: 16px;
  text-align: center;
} */

/* section div {
  position: relative;
  width: 80%;
  max-height: 90vh;
  border-radius: 5px;
  overflow: hidden;
} */

/* styles.css */
.progress {
  position: fixed;
  left: 0;
  right: 0;
  height:5px;
  background:var(--accent);
  bottom: 100px;
}
/* 
section {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 0;
  padding: 0;
}

section div {
  width: 80%;
  max-height: 90vh;
  border: 2px solid black;
  border-radius: 5px;
  overflow: hidden;
}

section img {
  width: 700;
  height: 600px;
  object-fit: cover;
  margin: 10px auto;
} */




.image-section {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  margin-bottom: 50px; /* Add some spacing between sections */
}

.image-container {
  flex: 0 1 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.parallax-image {
  max-width: 60%;
  max-height: 60%;
  object-fit: contain;
}

.image-description-container {
  margin-top: 20px;
  text-align: center;
  flex: 0 1 auto;
}

.image-description {
  font-size: 1rem;
  color: #cb3562; 
  font-family: "Roboto Mono";
}


.parallax {
  overflow: hidden;
  letter-spacing: -2px;
  line-height: 0.8;
  margin: 0;
  white-space: nowrap;
  display: flex;
  flex-wrap: nowrap;
}

.parallax .scroller {
  font-weight: 600;
  text-transform: uppercase;
  font-size: 64px;
  display: flex;
  white-space: nowrap;
  display: flex;
  flex-wrap: nowrap;
}

.parallax span {
  display: block;
  margin-right: 30px;
}


.backdrop-blur {
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px); /* Safari/Chrome */
  -moz-backdrop-filter: blur(10px); /* Firefox */
  -o-backdrop-filter: blur(10px); /* Opera */
}